@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root{
    --primary: 26deg, 100%, 50%; /* hsl(26, 100%, 50%) */
  }
} 


/* Exemple de styles pour le modal */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}